<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context   
		http://www.springframework.org/schema/context/spring-context.xsd"> 
	<!--产生Connection工厂类-->
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
	    <property name="brokerURL" value="tcp://192.168.200.128:61616"/>  
	</bean>
	<!--spring管理工厂类-->
	<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">    
	    <property name="targetConnectionFactory" ref="targetConnectionFactory"/>  
	</bean>
	<!--发布订阅模式  生成页面-->
	<bean id="topicPageAndSolrDestination" class="org.apache.activemq.command.ActiveMQTopic">  
	      <!--指定从这个队列上获取上架的商品id-->
	      <constructor-arg value="pinyougou_topic_page_solr"/>
	</bean>
	<!--发布订阅模式 消息监听器 生成页面-->
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="topicPageAndSolrDestination" />
		<property name="messageListener" ref="pageListener" />
	</bean>
	<bean id="pageListener" class="com.youlexuan.page.listener.PageListener"></bean>
	
</beans>